@use 'layout.mixins' as layout;
@use 'header.mixins' as header;
@use 'elements.mixins' as elements;
@use 'hero.mixins' as hero;

body {
    @include layout.layout-body-defaults;
    @include elements.elements-defaults;
    
    header {
        @include header.header;
    }

    section {
        width: 96vw;
        min-height: 25vh;
        padding: 0 2vw 0 2vw;

        @include hero.hero;
    }
}
