@import '../css/layout.scss';
@import '../css/header.scss';
@import '../css/elements.scss';
@import '../css/hero.scss';

body {
    @include layout-body-defaults;
    @include elements-defaults;
    
    header {
        @include header;
    }

    section {
        width: 96vw;
        min-height: 25vh;
        padding: 0 2vw 0 2vw;

        @include hero;
    }
}
