@import '../css/colors.scss';
@import '../css/fonts.scss';
@import '../css/mobile.scss';
@import '../css/effects.scss';
@import '../css/error.scss';
@import '../css/components.scss';

body {
    @include full-height;
    @include font-default;
    font-size: $page-default-font-size;
    background-color: $page-background-color;
    color: $font-color-default;
    margin: 0;

    a {
        color: $font-color-link;
        text-decoration: none;

        &:hover {
            color: $font-color-link-hover;
        }
    }

    header {
        div.grid {
            display: grid;
            @include full-width;
            grid-template-columns: 35% 65%;
            align-items: center;
            position: fixed;
            top: 0;
            background-color: $page-top-menu-background-color;

            @media screen and (max-width: $small-screen-threshold) {
                grid-template-columns: 100%;
            }

            div {
                @include fade-in(1,75);
                padding: 0.25em 2em;

                &.logo {
                    @include font-italic;
                    font-size: 2em;
                    text-align: left;

                    @media screen and (max-width: $small-screen-threshold) {
                        text-align: center;

                        @media (orientation: landscape) {
                            font-size: 2em;
                        }

                        @media (orientation: portrait) {
                            font-size: 3.5em;
                        }
                    }
                }

                &.menu {
                    text-align: right;

                    @media screen and (max-width: $small-screen-threshold) {
                        display: none;
                    }

                    ul {
                        li {
                            display: inline-block;
                            list-style-type: none;
                            padding-left: 4em;
                        }
                    }
                }
            }
        }
    }

    section {
        width: 96vw;
        min-height: 25vh;
        padding: 0 2vw 0 2vw;

        &.hero {
            @include full-height;
            @include background-image(url("../img/forrest.webp"), cover, center center, no-repeat);
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: $small-screen-threshold) {
                background-position: 50% 50%;
            }

            .contact-info {
                display: none;

                @media screen and (max-width: $small-screen-threshold) {
                    display: grid;
                    align-content: center;
                    justify-content: center;
                    min-height: 60vh;
                    min-width: 80vw;
                    background-blend-mode: darken;
                    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(50, 50, 50, 0.1));
                    color: $font-color-link;

                    ul {
                        list-style-type: none;
                        text-align: center;
                        @include fade-in(1,75);

                        li {
                            @media (orientation: landscape) {
                                font-size: 1.5em;
                                padding: 0.5em 0;
                            }

                            @media (orientation: portrait) {
                                font-size: 2.5em;
                                padding: 1em 0;
                            }

                            a {
                                color: $font-color-link;
                                text-decoration: none;

                                &:hover {
                                    color: $font-color-link-hover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: $minimum-screen-threshold) {
        font-size: $page-small-screen-font-size;
    }
}
