
@mixin fade-in($seconds: 1, $startFramePercent: 1 ) {
    -webkit-animation: fadeIn linear #{$seconds}s;
    -moz-animation: fadeIn linear #{$seconds}s;
    -o-animation: fadeIn linear #{$seconds}s;
    animation: fadeIn linear #{$seconds}s;
    @include keyframes($startFramePercent);
}

@mixin fadeinKeyframes($startFramePercent) {
    0% {
        opacity: 0;
    }

    #{$startFramePercent}% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@mixin keyframes($startFramePercent) {
    @at-root {
        @keyframes fadeIn {
            @include fadeinKeyframes($startFramePercent);
        }

        @-moz-keyframes fadeIn {
            @include fadeinKeyframes($startFramePercent);
        }

        @-webkit-keyframes fadeIn {
            @include fadeinKeyframes($startFramePercent);
        }

        @-o-keyframes fadeIn {
            @include fadeinKeyframes($startFramePercent);
        }
    }
}
