@import '../css/fonts.scss';
@import '../css/mobile.scss';
@import '../css/components.scss';
@import '../css/effects.scss';

$header-padding-width-default: 2em;
$header-padding-height-default: 0.25em;
$header-padding-totalwidth-default: calc(#{$header-padding-width-default} * 2);
$header-grid-template-columns-default: 3% 35% 62%;
$header-grid-template-columns-one: 100%;
$header-background-color: #131313;

@mixin header {
    div.grid {
        position: fixed;
        top: 0;
        background-color: $header-background-color;
        padding: $header-padding-height-default $header-padding-width-default;
        align-items: center;

        @include header-grid-settings;
        @include full-width-custom($header-padding-totalwidth-default);

        div {
            @include fade-in(1,75);

            @include header-info;

            @include header-logo;

            @include header-menu;

            &.mobile {
                @include hide-on-small-screens;
            }
        }
    }
}

@mixin header-grid-settings {
    display: grid;
    grid-template-columns: $header-grid-template-columns-default;

    @media screen and (max-width: $small-screen-threshold) {
        grid-template-columns: $header-grid-template-columns-one;
    }
}

@mixin header-logo {
    &.logo {
        @include font-italic;
        font-size: 2em;
        text-align: left;

        @media screen and (max-width: $small-screen-threshold) {
            text-align: center;

            @media (orientation: landscape) {
                font-size: 2em;
            }

            @media (orientation: portrait) {
                font-size: 3.5em;
            }
        }
    }
}

@mixin header-menu {
    &.menu {
        text-align: right;

        ul {
            li {
                display: inline-block;
                list-style-type: none;
                padding-left: 4em;
            }
        }
    }
}

@mixin header-info {
    .nav-info {
        font-size: x-small;
    }
}
