@import '../css/components.scss';
@import '../css/mobile.scss';
@import '../css/colors.scss';
@import '../css/effects.scss';

@mixin hero {
    &.hero {
        @include full-height;
        @include background-image(url("../img/forrest.webp"), cover, center center, no-repeat);
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $small-screen-threshold) {
            background-position: 50% 50%;
        }

        .contact-info {
            display: none;

            @media screen and (max-width: $small-screen-threshold) {
                display: grid;
                align-content: center;
                justify-content: center;
                min-height: 60vh;
                min-width: 80vw;
                background-blend-mode: darken;
                background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(50, 50, 50, 0.1));
                color: $font-color-link;

                ul {
                    list-style-type: none;
                    text-align: center;
                    @include fade-in(1,75);

                    li {
                        @media (orientation: landscape) {
                            font-size: 1.5em;
                            padding: 0.5em 0;
                        }

                        @media (orientation: portrait) {
                            font-size: 2.5em;
                            padding: 1em 0;
                        }

                        a {
                            color: $font-color-link;
                            text-decoration: none;

                            &:hover {
                                color: $font-color-link-hover;
                            }
                        }
                    }
                }
            }
        }
    }
}
