@*
    Links that will show up in the top menu and in the center screen on small devices
*@

<li><a href="/Redirect/Linkedin" aria-label="Link to my LinkedIn profile" target="_blank"><i class="fab fa-linkedin"> </i> LinkedIn</a></li>
<li><a href="/Redirect/Github" aria-label="Link to my GitHub repository" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
