@*
    Links that will show up in the top menu and in the center screen on small devices
*@

<li><a href="https://www.linkedin.com/in/jhonnyli/" aria-label="Link to my LinkedIn profile" target="_blank"><i class="fab fa-linkedin"> </i> LinkedIn</a></li>
<li><a href="https://www.github.com/jhonnyli/" aria-label="Link to my GitHub repository" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
<li class="hover"><a href="https://meet.jit.si/HeresMyNumberSoTalkToMeMaybe" aria-label="Jitsi" target="_blank"><i class="fas fa-phone-square"></i> Jitsi</a></li>