@using JhonnySEv2.Helpers;
@{
    var currentWeek = CultureHelpers.GetCurrentWeek();
    var currentCulture = CultureHelpers.GetCurrentCultureName();
    var weekNumberTitle = $"Veckonummer\r\nAktiv kultur: {currentCulture}";
}
<div class="nav-info" title="@weekNumberTitle">
    @currentWeek
</div>