@{
    ViewData["Title"] = "Jhonny.se";
}
<link rel="preload" as="image" href="../img/forrest.webp">
<section class="hero">
    <div class="contact-info">
        <ul>
            @await Html.PartialAsync("../Shared/Components/_navLinks.cshtml")
        </ul>
    </div>
</section>
