@use 'components.mixins' as comp;
@use 'mobile';
@use 'colors';
@use 'effects.mixins' as effects;

@mixin hero {
    &.hero {
        @include comp.full-height;
        @include comp.background-image(url("../img/forrest.webp"), cover, center center, no-repeat);
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: mobile.$small-screen-threshold) {
            background-position: 50% 50%;
        }

        .contact-info {
            display: none;

            @media screen and (max-width: mobile.$small-screen-threshold) {
                display: grid;
                align-content: center;
                justify-content: center;
                min-height: 60vh;
                min-width: 80vw;
                background-blend-mode: darken;
                background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(50, 50, 50, 0.1));
                color: colors.$font-color-link;

                ul {
                    list-style-type: none;
                    text-align: center;
                    @include effects.fade-in(1,75);

                    li {
                        @media (orientation: landscape) {
                            font-size: 1.5em;
                            padding: 0.5em 0;
                        }

                        @media (orientation: portrait) {
                            font-size: 2.5em;
                            padding: 1em 0;
                        }

                        a {
                            color: colors.$font-color-link;
                            text-decoration: none;

                            &:hover {
                                color: colors.$font-color-link-hover;
                            }
                        }
                    }
                }
            }
        }
    }
}
