@*
    Links that will show up in the top menu and in the center screen on small devices
*@

<li><a href="https://www.linkedin.com/in/jhonnyli/" aria-label="Link to my LinkedIn profile"><i class="fab fa-linkedin"> LinkedIn</i></a></li>
<li><a href="https://www.github.com/jhonnyli/" aria-label="Link to my GitHub repository"><i class="fab fa-github"> GitHub</i></a></li>
<li class="hover"><a href="https://meet.jit.si/HeresMyNumberSoTalkToMeMaybe" aria-label="Jitsi"><i class="fas fa-phone-square"> Jitsi</i></a></li>