@*
    Links that will show up in the top menu and in the center screen on small devices
*@

<li><a href="https://www.linkedin.com/in/jhonnyli/"><i class="fab fa-linkedin"> LinkedIn</i></a></li>
<li><a href="https://www.github.com/jhonnyli/"><i class="fab fa-github"> GitHub</i></a></li>
<li class="hover"><a href="https://meet.jit.si/HeresMyNumberSoTalkToMeMaybe"><i class="fas fa-phone-square"> Jitsi</i></a></li>