<div class="grid">
    <div class="logo">
        <a href="/">Jhonny Li</a>
    </div>
    <div class="menu">
        <ul>
            @{await Html.RenderPartialAsync("_navLinks.cshtml");}
        </ul>
    </div>
</div>